@{
    ViewData["Title"] = "Dashboard";
}

<link href="/vendor/jstree/dist/themes/default/style.min.css" rel="stylesheet" media="screen">

<div class="main-content">
    <div class="wrap-content container " id="container">
        <h1>DashBoard</h1>
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-white no-radius text-center">
                        <div class="panel-body">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-square fa-stack-2x text-primary"></i>
                                <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                            </span>
                            <h2 class="StepTitle">Start Analysis</h2>
                            <p class="text-small">This feature enables comprehensive evaluation of various aspects of the website's performance, 
                                including SEO metrics, site structure, content quality, and more.</p>
                            <p class="links cl-effect-1"><a href="/Marketing/SiteAudit/Analysis">Start Now</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-white no-radius text-center">
                        <div class="panel-body">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-square fa-stack-2x text-primary"></i>
                                <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                            </span>
                            <h2 class="StepTitle">Streamlined Content Creation and Distribution Solutions</h2>
                            <p class="text-small">
                                Streamline your content creation and distribution process with ConnectToAi.
                                Discover captivating topic ideas, commission high-quality blog posts from talented copywriters,
                                and effortlessly share them with your audience—all with just a few clicks!
                            </p>
                            <p class="cl-effect-1"><a href="/Marketing/Article/Create">Start Create</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-white no-radius text-center">
                        <div class="panel-body">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-square fa-stack-2x text-primary"></i>
                                <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                            </span>
                            <h2 class="StepTitle">Keyword Research</h2>
                            <p class="text-small">
                                Elevate your website traffic and dominate search engine results pages (SERPs) with
                                ConnectToAi's advanced SEO keyword research tools.
                            </p>
                            <p class="cl-effect-1"><a href="/Marketing/Keywords/Index">Start Manage</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h4 class="panel-title">Search <span class="text-bold">Tree</span></h4>
                            </div>
                            <div class="panel-body">
                                <div id="tree" class="tree-demo">
                                    <ul>
                                        <li>
                                            Root node 1
                                            <ul>
                                                <li data-jstree='{ "selected" : true }'><a href="#">Initially selected</a></li>
                                                <li data-jstree='{ "icon" : "fa fa-briefcase text-green " }'>custom icon URL</li>
                                                <li data-jstree='{ "opened" : true }'>
                                                    initially open
                                                    <ul>
                                                        <li data-jstree='{ "disabled" : true }'>Disabled Node</li>
                                                        <li data-jstree='{ "type" : "file" }'>Another node</li>
                                                    </ul>
                                                </li>
                                                <li data-jstree='{ "icon" : "fa fa-warning text-red" }'>Custom icon class (bootstrap)</li>
                                            </ul>
                                        </li>
                                        <li data-jstree='{ "type" : "file" }'><a href="http://www.jstree.com">Clickanle link node</a></li>
                                    </ul>
                                </div>

                                <input type="text" class="form-control margin-bottom-10" value="" id="tree_4_search" placeholder="Search">
                                <div id="tree_4" class="tree-demo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="/vendor/jstree/dist/jstree.min.js"></script>
    <script src="/assets/js/ui-treeview.min.js"></script>
    <script>
        jQuery(document).ready(function () { UITreeview.init() })
    </script>
}