@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>
    <html class="ie8" lang="en">
    <![endif]-->
<!--[if IE 9]>
    <html class="ie9" lang="en">
    <![endif]-->
<!--[if !IE]>
    <!-->
<html lang="en">
<!--
    <![endif]-->
<head>
    <title>SEO Automation</title>
    <!--[if IE]>
      <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" />
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="ClipTwo - Responsive Admin Template build with Bootstrap" name="description">
    <meta content="ClipTheme" name="author">
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon-16x16.png">
    <link rel="manifest" href="~/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400italic,600,700|Raleway:100,300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css">
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/vendor/themify-icons/themify-icons.min.css">
    <link href="/Content/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="/Content/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="/Content/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">

    <link href="/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: MAIN CSS -->
    <!-- start: CLIP-TWO CSS -->
    <link rel="stylesheet" href="/Content/assets/css/styles.css">
    <link rel="stylesheet" href="/Content/assets/css/plugins.css">
    <link rel="stylesheet" href="/Content/assets/css/themes/theme-1.css" />
    <!-- end: CLIP-TWO CSS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div id="app">

        <div class="app-content">
            @{
                await Html.RenderPartialAsync("~/Areas/Marketing/Views/Shared/_Header.cshtml");
            }
            <div class="main-content" style="margin-left:0px">
                <div class="wrap-content container" id="container">
                    <section id="page-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1 class="mainTitle">Create a Project</h1>
                                <span class="mainDescription">
                                    Hit 'Create' to finalize the project setup.
                                </span>
                            </div>

                        </div>
                    </section>
                    <div class="container-fluid container-fullw bg-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="over-title margin-bottom-15">
                                    Create <span class="text-bold">Project</span>
                                </h5>
                                <p>Some textboxes in this example is required.</p>
                                <form action="#" role="form" class="smart-wizard" id="form">
                                    <div id="wizard" class="swMain">
                                        <ul>
                                            <li>
                                                <a href="#step-1">
                                                    <div class="stepNumber">1</div>
                                                    <span class="stepDesc">
                                                        <small>Project Information</small>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-2">
                                                    <div class="stepNumber">2</div>
                                                    <span class="stepDesc">
                                                        <small>Create a Project</small>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-3">
                                                    <div class="stepNumber">3</div>
                                                    <span class="stepDesc">
                                                        <small>Complete</small>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div id="step-1">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="padding-30">
                                                        <h2 class="StepTitle">
                                                            <i class="ti-face-smile fa-2x text-primary block margin-bottom-10"></i> Enter your project information
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <fieldset>
                                                        <legend>Personal Information</legend>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Project Name <span class="symbol required"></span>
                                                                    </label>
                                                                    <input type="text" placeholder="Enter your Project Name" class="form-control" name="firstName">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Project Description <span class="symbol required"></span>
                                                                    </label>
                                                                    <textarea type="text" placeholder="Enter Project Description" class="form-control" name="descriptionName"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            <a href="javascript:void(0)" data-content="Your project information is not required for unlawful purposes, but only in order to analysis perpuse" data-title="Don't worry!" data-placement="top" data-toggle="popover">Why do you need my Project information?</a>
                                                        </p>
                                                    </fieldset>

                                                    <div class="form-group">
                                                        <button class="btn btn-primary btn-o next-step btn-wide pull-right">
                                                            Next <i class="fa fa-arrow-circle-right"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="step-2">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="padding-30">
                                                        <h2 class="StepTitle">
                                                            Create an account <span class="text-large block">to manage everything you do with ClipTwo</span>
                                                        </h2>
                                                        <p>You’ll enjoy personal services and great benefits including:</p>
                                                        <p class="text-small">
                                                            <ul class="no-margin">
                                                                <li>Access to exclusive releases and limited products.</li>
                                                                <li>ng-Clip services, benefits and promotions.</li>
                                                            </ul>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <fieldset>
                                                        <legend>Account Credential</legend>
                                                        <div class="form-group">
                                                            <label class="control-label">
                                                                WebSite ULR <span class="symbol required"></span>
                                                            </label>
                                                            <input type="url" placeholder="Enter your's Website ULR'" class="form-control" name="URL">
                                                        </div>

                                                    </fieldset>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary btn-o back-step btn-wide pull-left">
                                                            <i class="fa fa-circle-arrow-left"></i> Back
                                                        </button>
                                                        <button class="btn btn-primary btn-o next-step btn-wide pull-right">
                                                            Next <i class="fa fa-arrow-circle-right"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="step-3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-center">
                                                        <h1 class="ti-check block text-primary"></h1>
                                                        <h2 class="StepTitle">Congratulations!</h2>
                                                        <p class="text-large">Your bebsite anlysis is started.</p>
                                                        <a class="btn btn-primary btn-o" id="linkBtnFinish" href="/marketing/dashboard/Index">Click here to see result</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        @{
            //await Html.RenderPartialAsync("~/Views/Shared/_footer.cshtml");
        }
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/modernizr/modernizr.js"></script>
    <script src="~/Content/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendor/switchery/switchery.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="~/content/vendor/datatables/jquery.datatables.js"></script>
    <script src="~/Content/assets/js/table-data.js"></script>

    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="~/Content/assets/js/main.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="~/Content/assets/js/form-elements.js"></script>
    <script src="~/Content/assets/js/vendors.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Content/vendor/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/assets/js/main.min.js"></script>
    <script>
        NProgress.configure({
            showSpinner: !1
        }), NProgress.start(), NProgress.set(.4);
        var interval = setInterval(function () {
            NProgress.inc()
        }, 1e3);
        jQuery(document).ready(function () {
            NProgress.done(),
                clearInterval(interval),
                Main.init()
        })
    </script>
    <script src="/assets/js/form-wizard.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            FormWizard.init()
        })
    </script>
  

</body>
</html>
