@page
@model ConnectToAi.Areas.Identity.Pages.Account.ScreenlockModel
@{
    var email = TempData["Email"];
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="row">
    <img src="~/assets/images/ConnectoAi.svg" style="margin-left:70px;margin-top:20px;width:260px"/>
    <div class="lock-screen" style="margin:-260px 0 0 -100px">
        
        <div class="box-ls">

            <img alt="" src="~/assets/images/lock.png" class="rounded" style="width:120px">
            
            <div class="user-info">
                <h4>@TempData["Name"]</h4>
                <span style="color:#fff">@email</span>
                <form id="account" method="post">
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <input type="hidden" name="returnUrl" value="@TempData["ReturnUrl"]" />
                            <input type="hidden" name="email" value="@email">
                            <input type="password" name="password" autocomplete="off" placeholder="Password to unlock" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>