@{
    ViewData["Title"] = "Home Page";
    var role = ViewBag.Role;
    var isLogOut = ViewBag.IsLogOut;
    var redirectURL = ViewBag.RedirectUrl;
}

<section class="container-fluid container-fullw" style="margin-top:60px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-classic">
                    <h1 class="center ">Enter Website URL for free SOE analysis</h1>
                    <form action="#">
                        <div class="input-group well">
                            <input id="txtAnalysis" type="text" class="form-control input-lg" placeholder="Enter Your Web Site URL...">
                            <span class="input-group-btn">
                                <button id="btnAnalysis" class="btn btn-primary btn-lg" type="button">
                                    <i class="fa fa-bar-chart-o"></i> Start Analysis
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div>
                    <h2>Web Page Analyzer: Instantly Analyze Any Website with Our Powerful Tool</h2>
                    <p>
                        Unlock the potential of your website with our cutting-edge Web Page Analyzer tool. Simply enter the URL of any webpage,
                        and within seconds, gain valuable insights into its performance, SEO metrics, and overall effectiveness. Our tool provides comprehensive analysis,
                        including page speed, mobile-friendliness, on-page SEO factors, backlink profile, and more.
                    </p>
                    <p>
                        Armed with this data, you can make informed decisions to optimize your website for maximum impact and success.
                        Take the guesswork out of website analysis and elevate your online presence with our intuitive and powerful Web Page Analyzer tool today.
                    </p>
                    <ul>
                        <li>
                            <strong>Instant Analysis:</strong> Enter the URL of any webpage and get instant insights into its performance.
                        </li>
                        <li>
                            <strong>Comprehensive Metrics:</strong> Gain valuable data on page speed, mobile-friendliness, SEO factors, and more.
                        </li>
                        <li>
                            <strong>Easy-to-Understand Reports:</strong> Receive clear and concise reports that highlight areas for improvement.
                        </li>
                        <li>
                            <strong>Actionable Recommendations:</strong> Get tailored recommendations to optimize your website for success.
                        </li>
                        <li>
                            <strong>User-Friendly Interface:</strong> Navigate the analysis process effortlessly with our intuitive interface.
                        </li>
                        <li>
                            <strong>Stay Ahead of the Competition: </strong>Make informed decisions to stay ahead of the competition and enhance your online presence.
                        </li>
                        <li>
                            <strong>Boost Your SEO:</strong> Identify opportunities to improve your website's search engine rankings and visibility.
                        </li>
                        <li>
                            <strong>Drive Results:</strong> Utilize data-driven insights to drive tangible results and achieve your online goals.
                        </li>
                        <li>
                            <strong>Free and Unlimited:</strong> Enjoy unlimited analysis of webpages at no cost, ensuring you always have the information you need.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        var role = '@role';
        var _redirectURL = '@redirectURL';
        function changeColor(hovered) {
            var h1Element = document.getElementById('h1GotoHome');
            //h1Element.style.color = hovered ? 'white' : 'black';
            h1Element.style.fontSize = hovered ? '2.6em' : '2.5em';
            var childSpan = document.getElementById('childSpan');
            childSpan.style.fontSize = hovered ? '0.51em' : '0.5em';
        }

        function changeSize(hovered) {
            var h1Element = document.getElementById('connectToAi');
            h1Element.style.fontSize = hovered ? '2.6em' : '2.5em';
        }

        if (role.length > 0) {
            let baseUrl = window.location.origin;
            console.log(_redirectURL);
            window.location.href = _redirectURL
        }
        var isLogOut = '@isLogOut';

        console.log(isLogOut);

        if (isLogOut) {

            console.log('localStorage.clear');
            localStorage.clear();
        }
    </script>
}