@{
    Layout = "_LayoutGeneral";
}
<div class="error-full-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-error">
                <div class="error-number" style="font-size:70px">Un Authorized</div>
                <div class="error-details col-sm-6 offset-sm-3">
                    <h2 class="error-message">You are not authorized to access this page</h2>
                    <a href="/Home/AutoRedirect" class="btn btn-wide btn-outline-primary">
                        <i class="fa fa-home"></i> Go to the Home Page
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
